* {
    margin: 0 !important;

    color: white;
    cursor: none
}

main {
    background-color: #454545;
}

button {
    background-color: #131313;
    color: white;

}



.snack {
    border-top: 1px solid white;
    padding-bottom: 20px;


}

.snack-content {
    padding: 40px
}

#cursor {
    transform: rotate(-90deg);
    position: fixed;
}

.cursor {
    transform: rotate(-90deg);
}

.big-z {
    z-index: 1000;
}