* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

*:hover {
    cursor: none;
}

main {
    background-color: #454545;
}



.button {
    background-color: #131313;
    color: white;
    padding: 5px;
    cursor: none !important;

}


.button:hover {
    background-color: grey;
    cursor: none;
}


.snack {
    border-top: 1px solid white;

    padding-bottom: 20px;


}

.snack-content {
    padding: 40px
}

#cursor {
    transform: scaleX(-1);
    position: fixed;

}


.cursor {
    transform: scaleX(-1);

}



.big-z {
    z-index: 1000;
}